@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Shizuru&family=Source+Sans+Pro:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shizuru&family=Source+Sans+Pro:ital,wght@1,600&display=swap');

:root {
    --primary-color: #ff69b4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Source Sans Pro', Shizuru;
    line-height: 1.5;
}
a {
    text-decoration: none;
    color: var(--primary-color);
}
h1{
    font-weight: 300;
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 15px;
    color: #fff;
}
.bg {
    position: relative;
   height: 90vh;
   width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
h3 {
    font-family: 'Open Sans Condensed';
    color: #745b68;
    font-weight: 900;
    font-size: 30px;
}
.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--primary-color);
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.con {
    z-index: 20;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background: var(--primary-color);
    color: white;
    border: 5px rgb(241, 151, 207) solid;
    border-radius: 3px;
    margin-top: 20px;
    opacity: 85%;
}
.btn:hover {
    transform: scale(0.95);
}
#biography {
    padding:40px;
    text-align: center;
}
#biography p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: auto;
}
#biography h1 {
    margin: 30px 0;
    color: var(--primary-color);
}
.socials a {
margin: 0 50px;
}